%button {
  border: none;
  border-radius: 4px;

  color: $white-color;
  background-color: $accent-color;
  border-color: transparent;

  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.button {
  @extend %button;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: scale $transition-timing;

  &:hover {
    scale: $primary-scale;
  }

  &--footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  gap: 10px;
  min-width: 100px;
  padding: 10px 29px;
  padding-right: 28px;

  cursor: pointer;
}
}

.menu-button {
  display: flex;
  align-items: center;
  z-index: 3;

  border: none;
  background-color: $white-color;
  fill: $primary-text-color;

  &:hover {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
  }

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  fill: $primary-text-color;

  &:hover {
    fill: $accent-color;
  }
}

.menu-button.is-open .icon-menu {
  display: none;
}