.list.filter-list {
  display: flex;
  gap: 8px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
    row-gap: 15px;
  }

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  @media screen and (max-width: 1199px) {
    margin-top: $primary-margin;
  }

  @media screen and (min-width: $desktop) {
    margin-top: $primary-marginPC;
    margin-bottom: 34px;
    
  }
}

.filter-list__button {
  @extend %button;
  max-width: 145px;
  padding: 6px 22px;

  color: $primary-text-color;
  background-color: $grey-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  
  transition: background-color $transition-timing, $transition-scale,
    color $transition-timing;

    &:hover,
&:focus {
  color: $white-color;
  background-color: $accent-color;
  box-shadow: $shadow;
  scale: $primary-scale;
}
}