.section-team {
  background-color: $grey-color;

  @media screen and (max-width: 1199px) {
    padding-top: $primary-margin;
    margin-bottom: $primary-margin;
    padding-bottom: $primary-margin;
  }

  @media screen and (min-width: $desktop) {
    padding-top: $primary-marginPC;
    margin-bottom: $primary-marginPC;
    padding-bottom: $primary-marginPC;
  }
}

.employee {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
  }
}

.employee-card {
  border-radius: 4px;
  background-color: $white-color;
  box-shadow: $shadow;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: calc((768px - 60px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((1200px - 120px) / 4);
  }




  &__name {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
}

&__title {
  font-size: 16px;

  color: $secondary-text-color;
  margin-bottom: 19px;
}
}

.employee-card .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}