
*,
*::before,
*::after {
box-sizing: border-box;
}

body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1; 

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.minor-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.section {
  font-size: 14px;
}

.section-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 2;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 50px;
}
